html,
body {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:  -apple-system-ui-serif, ui-serif, "Spectral", "Georgia", serif;

  font-family: var(--font-serif);
  line-height: 1.6em;
  font-size: 18px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
