@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Noto Serif", "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

html,
body {
  font-family: var(--font-serif);
  line-height: 1.5;
  font-size: 18px;
  @apply text-gray-800 dark:text-gray-200;
  @apply bg-gray-100 dark:bg-gray-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.container {
  @apply max-w-3xl mx-auto px-4 py-8;
}

.text-dimmed {
  @apply text-gray-500 dark:text-gray-400;
}

a:not(.unstyled) {
  @apply text-blue-600 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-500 underline;
}

