@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  line-height: 1.5;
  font-size: 18px;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.container {
  @apply max-w-3xl mx-auto px-4 py-8;
}

.text-dimmed {
  @apply text-gray-500 dark:text-gray-400;
}

